<div class="card">
    <div class="card-header text-center">
        {{ (title ?? "Employé")|upper }}
    </div>
    <div class="card-body">
        <div class="text-center">
            <img
                src="img/ui-zac.jpg"
                class="rounded-circle"
                width="58" />
            <p class="mt-2">
                <strong>{{ employee.fullName }}</strong>
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="small mt">
                    EMPLOYÉ DEPUIS
                </p>
                <p>{{ employee.employmentDate|date("M Y") }}</p>
            </div>
            <div class="col-md-6">
                <p class="small mt">COÛT TOTAL</p>
                <p>{{ employee.totalCost|format_currency('EUR') }}</p>
            </div>
        </div>
    </div>
</div>