<div class="widget-small coloured-icon {{ color }}">
    <i class="icon fa {{ icon }} fa-3x" aria-hidden="true"></i>
    <div class="info">
        <p class="text-muted text-sm text-uppercase">
            {{ title }}
        </p>
        <p><strong>{{ value }}</strong></p>
    </div>
</div>