<div class="tile pb-5">
    <h3 class="tile-title">Historique des temps de production</h3>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>Projet</th>
                    <th>Temps</th>
                    <th>Date de saisie</th>
                    <th>Coût total</th>
                </tr>
            </thead>
            <tbody>
                {% for worktime in worktimes %}
                    <tr>
                        <td>{{ worktime.project.name }}</td>
                        <td>{{ worktime.daysSpent }} jours</td>
                        <td>{{ worktime.createdat|date("d-m-Y") }}</td>
                        <td>{{ worktime.totalPrice|format_currency('EUR') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr/>

    {% include "components/paginator.html.twig" with { id: employee_id } %}
</div>