<header class="app-header">
    <a class="app-header__logo" href={{ path('main_dashboard') }}>
        Procost
    </a>
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
        <li class="app-search">
            <a href="#" class="btn btn-secondary">Se déconnecter</a>
        </li>
    </ul>
</header>