<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <img
            class="app-sidebar__user-avatar"
            src={{ asset('img/user.jpg') }}
            alt="User Image" />
        <div>
            <p class="app-sidebar__user-name">John Doe</p>
            <p class="app-sidebar__user-designation">Manager</p>
        </div>
    </div>
    <ul class="app-menu">
        <li>
            <a class="app-menu__item active" href={{ path('main_dashboard') }}>
                <i class="app-menu__icon fa fa-dashboard"></i>
                <span class="app-menu__label">Tableau de bord</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href={{ path('main_list_projects') }}>
                <i class="app-menu__icon fa fa-laptop"></i>
                <span class="app-menu__label">Projets</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href={{ path('main_list_employees') }}>
                <i class="app-menu__icon fa fa-users"></i>
                <span class="app-menu__label">Employés</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="#">
                <i class="app-menu__icon fa fa-book"></i>
                <span class="app-menu__label">Métiers</span>
            </a>
        </li>
    </ul>
</aside>