{% for flash_type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ flash_type }} alert-dismissible my-4" role="alert">
            <button class="close" type="button" data-dismiss="alert">×</button><strong>{{ flash_type|upper }}!</strong> {{ message}}
        </div>
    {% endfor %}
{% endfor %}