{% extends 'layout.html.twig' %}

{% block title %}Page not found - {{ parent() }}{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <i class="fa fa-file-excel-o" aria-hidden="true" style="font-size: 5rem;"></i>
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
        <p class="lead">
            La page que vous recherchez n'existe pas.
        </p>
        <a href={{ path('main_dashboard') }} class="btn btn-primary">Dashboard</a>
    </div>
</div>
{% endblock %}
