{% extends 'layout.html.twig' %}

{% block title %}Internal server error - {{ parent() }}{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <i class="fa-solid fa-file-excel" style="font-size: 5rem;"></i>
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Internal server error.</p>
        <p class="lead">
            Il semble y avoir une erreur de notre part.<br>
            Désolé pour tout inconvénient causé
        </p>
        <a href={{ path('main_dashboard') }} class="btn btn-primary">Dashboard</a>
    </div>
</div>
{% endblock %}
